<!DOCTYPE html>
<html data-theme="emerald"
      lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--/* Head */-->
<head th:replace="~{util/fragments/layouts/default/head :: head}">
    <title th:text="#{head.title}"></title>
</head>

<!--/* Body */-->
<body>

<!--/* Analytics */-->
<th:block th:if="${!#strings.isEmpty(piwikAnalyticsTrackingId)}">
    <script th:replace="~{util/fragments/components/analytics_piwik :: script}"></script>
</th:block>


<!--/* Header */-->
<header th:replace="~{util/fragments/layouts/default/header :: header}"></header>

<!--/* This div is used to add a margin between the header and the content. */-->
<div class="px-6 py-12 sm:py-16 lg:px-8">

    <!--/* This div is used to center the content. */-->
    <div class="mx-auto max-w-2xl space-y-2">

        <!--/* Page header. */-->
        <h2 class="pageTitle" th:text="${title}"></h2>
        <p class="pageSubTitle hidden md:block" th:text="${subTitle}"></p>
        <hr>
        <!--/* Page content. */-->
        <main id="content"
              layout:fragment="content">
        </main>

    </div>

</div>

<!--/* Margin before footer */-->
<div class="my-16">&nbsp</div>

<!--/* Footer */-->
<footer th:replace="~{util/fragments/layouts/default/footer :: footer}"></footer>

</body>

</html>